*.o
*.dSYM
*.csv
*.out
*.pyc
*.weights
old/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
.fuse*
darknet
*.so
*.a

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

*.h5

